# EditorConfig: https://EditorConfig.org

# Plugins -> Plugins Admin -> EditorConfig

# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

# Indentation override for all python files under directory
[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Matches the exact files either package.json or .travis.yml
[*.yml]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab
